body {
    margin: 0;
    padding: 0;
    background-image: url('IMG_20200516_225034.jpg');
    /* Adjust background properties as needed */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; /* Example font */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Example semi-transparent background */
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black
}

.logo {
    width: 200px;
    background-color: #f0f0f0;
}

.nav-items {
    padding:  0px 20px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.search {
    padding: 10px
}

.res-logo {
    width: 100%;
}

.filter-btn {
 margin: 10px;
 cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0
}

.login {
    padding: 0 20px;
    cursor: pointer;
}

.filter {
    display: flex;
}